{% extends "base.html" %}

{% block body %}
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Random</button>
    <button type="button" class="btn btn-default">Near Me</button>
    <div class="btn-group" role="group">
      <button id="genusDropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> By Genus <span class="caret"></span> </button>
        <ul class="dropdown-menu" aria-labelledby="genusDropdown">
          <li><a href="#">Genus 1</a></li>
          <li><a href="#">Genus 2</a></li>
        </ul>
    </div>
  </div>

  <div class="container">

    <div class="splash" id="birdDiv">
      <h1></h1>
      <h3></h3>
    </div>

  </div>

  {{ super() }}

  <script>
  $("button").click(function(){
    $.ajax({url: "/random", success: function(result){
        $("#birdDiv").html(result["xc_sound"]["english_name"]);
    }});
  });
  </script>

{% endblock %}