{% extends "base.html" %}

{% block body %}
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Random</button>
    <button type="button" class="btn btn-default">Near Me</button>
    <div class="btn-group" role="group">
      <button id="genusDropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> By Genus <span class="caret"></span> </button>
        <ul class="dropdown-menu" aria-labelledby="genusDropdown">
          <li><a href="#">Genus 1</a></li>
          <li><a href="#">Genus 2</a></li>
        </ul>
    </div>
  </div>

  <div class="container">

    <div class="splash" id="birdDiv">
    </div>

  </div>

  {{ super() }}

  <script>
  // On-click handler for sidebar buttons
  $("button").click(function(){

    // TO DO: select proper AJAX url based on which button is clicked
    var ajaxUrl = "/random"

    // Make the AJAX call
    $.ajax({url: ajaxUrl, success: function(result){
        // Create the DOM elements in the center container
        createBirdDOM(result);
    }});
  });

  // Function that creates the DOM elements in the center container that display the bird information
  function createBirdDOM(data) {
      // Create the DOM elements as vars
      var englishName = $("<h1></h1>").text(data["xc_sound"]["english_name"]);
      var recordedAt = $("<p></p>").text(data["xc_sound"]["recorded_at"]);

      // Append the DOM elements to the div
      $("#birdDiv").append(englishName, recordedAt);
  }

  </script>

{% endblock %}